// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
	position: absolute;
	top: 30px;
	right: 0px;
	background-color: #ffffff;
	border: 1px solid $light-gray;
	border-radius: 5px;
	padding: 10px;
	width: 225px;
	text-align: left;
	color: $dark-gray;
	font-family: $sans-serif;
	font-weight: initial;
	box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
	z-index: 1;
}

.dropdown-subtitle {
	text-transform: uppercase;
  font-size: 11px;
  font-weight: bolder;
  margin: 10px 5px;
  display: block;
}

.gear-dropdown .editions {
	border-bottom: 1px solid $light-gray;
}

.gear-dropdown .editions li,
.gear-dropdown .help li {
	cursor: pointer;
	margin: 5px 0;
	font-size: 12px;
	border-radius: 5px;
}

.gear-dropdown a {
	display: block;
	padding: 5px 5px;
}

.editions a {
	text-decoration: none;
  text-transform: uppercase;
}

.gear-dropdown .help li {
  color: $blue;
}

.gear-dropdown .editions li:hover {
  background-color: $light-gray;
}

.editions li:first-of-type {
	color: #000000;
}