<h1>Create a new account</h1>

Already have an account? <a href=<%= new_session_url %>> Log in here! </a>
<br><br>
<form class='form' action="<%= users_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="new_user_email">Email: </label>
    <input id="new_user_email" type="text" name="user[email]">

    <br><br>

    <label for="new_user_password">Password: </label>
    <input id="new_user_password" type="password" name="user[password]">

    <br><br>

    <input type="submit" value="Submit">
</form>